* {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    overflow: hidden;
    margin: 0;
}
.gameCanvas {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    border: 4px solid rgb(255, 0, 0);
}
